<h1>フォロー中</h1>

<table>
  <thead>
    <tr>
      <th>プロフィール一覧</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>ニックネーム</th>
      <th>エリア</th>
      <th>受講コース</th>
      <th>自己紹介</th>
    </tr>
    <% @followings.each do |user| %>
      <tr>
      <td><%= link_to user.profile.nickname, account_path(user) %></td>
      <td><%= user.profile.area %></td>
      <td><%= user.profile.course %></td>
      <td><%= user.profile.introduction %></td>
      </tr>
    <% end %>
  </tbody>
</table>



